In [4]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import from_unixtime, col,to_date, date_format

In [5]:
spark = SparkSession.builder.appName('movie').getOrCreate()

25/03/12 14:40:51 WARN Utils: Your hostname, ali-ThinkBook-14-G2-ITL resolves to a loopback address: 127.0.1.1; using 172.16.8.114 instead (on interface wlp0s20f3)
25/03/12 14:40:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/12 14:40:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df_data = spark.read.csv("file:///home/ali/Desktop/Movie Recommendation System/data/ml-100k/u.data", 
                    sep="\t", 
                    schema="userId INT, movieId INT, rating FLOAT, timestamp LONG")

In [7]:
df_data.show()

+------+-------+------+---------+
|userId|movieId|rating|timestamp|
+------+-------+------+---------+
|   196|    242|   3.0|881250949|
|   186|    302|   3.0|891717742|
|    22|    377|   1.0|878887116|
|   244|     51|   2.0|880606923|
|   166|    346|   1.0|886397596|
|   298|    474|   4.0|884182806|
|   115|    265|   2.0|881171488|
|   253|    465|   5.0|891628467|
|   305|    451|   3.0|886324817|
|     6|     86|   3.0|883603013|
|    62|    257|   2.0|879372434|
|   286|   1014|   5.0|879781125|
|   200|    222|   5.0|876042340|
|   210|     40|   3.0|891035994|
|   224|     29|   3.0|888104457|
|   303|    785|   3.0|879485318|
|   122|    387|   5.0|879270459|
|   194|    274|   2.0|879539794|
|   291|   1042|   4.0|874834944|
|   234|   1184|   2.0|892079237|
+------+-------+------+---------+
only showing top 20 rows

In [8]:
df_genre = spark.read.csv("file:///home/ali/Desktop/Movie Recommendation System/data/ml-100k/u.genre", 
                           sep="|", 
                           schema="genre STRING, id INT")

df_info = spark.read.csv("file:///home/ali/Desktop/Movie Recommendation System/data/ml-100k/u.info", 
                          sep=" ", 
                          schema="value INT, description STRING")

df_item = spark.read.csv("file:///home/ali/Desktop/Movie Recommendation System/data/ml-100k/u.item", 
                          sep="|", 
                          schema="movieId INT, movieTitle STRING, releaseDate STRING, videoReleaseDate STRING, imdbUrl STRING, unknown INT, action INT, adventure INT, animation INT, childrens INT, comedy INT, crime INT, documentary INT, drama INT, fantasy INT, filmNoir INT, horror INT, musical INT, mystery INT, romance INT, sciFi INT, thriller INT, war INT, western INT")

df_occupation = spark.read.csv("file:///home/ali/Desktop/Movie Recommendation System/data/ml-100k/u.occupation", 
                                 schema="occupation STRING")

df_user = spark.read.csv("file:///home/ali/Desktop/Movie Recommendation System/data/ml-100k/u.user", 
                          sep="|", 
                          schema="userId INT, age INT, gender STRING, occupation STRING, zipCode STRING")

In [9]:
df_genre.show()

+-----------+---+
|      genre| id|
+-----------+---+
|    unknown|  0|
|     Action|  1|
|  Adventure|  2|
|  Animation|  3|
| Children's|  4|
|     Comedy|  5|
|      Crime|  6|
|Documentary|  7|
|      Drama|  8|
|    Fantasy|  9|
|  Film-Noir| 10|
|     Horror| 11|
|    Musical| 12|
|    Mystery| 13|
|    Romance| 14|
|     Sci-Fi| 15|
|   Thriller| 16|
|        War| 17|
|    Western| 18|
+-----------+---+

In [10]:
df_item.show(truncate=False)

+-------+----------------------------------------------------+-----------+----------------+-------------------------------------------------------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+
|movieId|movieTitle                                          |releaseDate|videoReleaseDate|imdbUrl                                                            |unknown|action|adventure|animation|childrens|comedy|crime|documentary|drama|fantasy|filmNoir|horror|musical|mystery|romance|sciFi|thriller|war|western|
+-------+----------------------------------------------------+-----------+----------------+-------------------------------------------------------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+
|1      |Toy Story (1995)                                    |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)              |0      |0     |0        |1        |1        |1     |0    |0          |0    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|2      |GoldenEye (1995)                                    |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?GoldenEye%20(1995)                |0      |1     |1        |0        |0        |0     |0    |0          |0    |0      |0       |0     |0      |0      |0      |0    |1       |0  |0      |
|3      |Four Rooms (1995)                                   |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)             |0      |0     |0        |0        |0        |0     |0    |0          |0    |0      |0       |0     |0      |0      |0      |0    |1       |0  |0      |
|4      |Get Shorty (1995)                                   |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)             |0      |1     |0        |0        |0        |1     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|5      |Copycat (1995)                                      |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Copycat%20(1995)                  |0      |0     |0        |0        |0        |0     |1    |0          |1    |0      |0       |0     |0      |0      |0      |0    |1       |0  |0      |
|6      |Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995|NULL            |http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)       |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|7      |Twelve Monkeys (1995)                               |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)         |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |0      |1    |0       |0  |0      |
|8      |Babe (1995)                                         |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Babe%20(1995)                     |0      |0     |0        |0        |1        |1     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|9      |Dead Man Walking (1995)                             |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)     |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|10     |Richard III (1995)                                  |22-Jan-1996|NULL            |http://us.imdb.com/M/title-exact?Richard%20III%20(1995)            |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |1  |0      |
|11     |Seven (Se7en) (1995)                                |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Se7en%20(1995)                    |0      |0     |0        |0        |0        |0     |1    |0          |0    |0      |0       |0     |0      |0      |0      |0    |1       |0  |0      |
|12     |Usual Suspects, The (1995)                          |14-Aug-1995|NULL            |http://us.imdb.com/M/title-exact?Usual%20Suspects,%20The%20(1995)  |0      |0     |0        |0        |0        |0     |1    |0          |0    |0      |0       |0     |0      |0      |0      |0    |1       |0  |0      |
|13     |Mighty Aphrodite (1995)                             |30-Oct-1995|NULL            |http://us.imdb.com/M/title-exact?Mighty%20Aphrodite%20(1995)       |0      |0     |0        |0        |0        |1     |0    |0          |0    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|14     |Postino, Il (1994)                                  |01-Jan-1994|NULL            |http://us.imdb.com/M/title-exact?Postino,%20Il%20(1994)            |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |1      |0    |0       |0  |0      |
|15     |Mr. Holland's Opus (1995)                           |29-Jan-1996|NULL            |http://us.imdb.com/M/title-exact?Mr.%20Holland's%20Opus%20(1995)   |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|16     |French Twist (Gazon maudit) (1995)                  |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Gazon%20maudit%20(1995)           |0      |0     |0        |0        |0        |1     |0    |0          |0    |0      |0       |0     |0      |0      |1      |0    |0       |0  |0      |
|17     |From Dusk Till Dawn (1996)                          |05-Feb-1996|NULL            |http://us.imdb.com/M/title-exact?From%20Dusk%20Till%20Dawn%20(1996)|0      |1     |0        |0        |0        |1     |1    |0          |0    |0      |0       |1     |0      |0      |0      |0    |1       |0  |0      |
|18     |White Balloon, The (1995)                           |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Badkonake%20Sefid%20(1995)        |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|19     |Antonia's Line (1995)                               |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Antonia%20(1995)                  |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |0      |0    |0       |0  |0      |
|20     |Angels and Insects (1995)                           |01-Jan-1995|NULL            |http://us.imdb.com/M/title-exact?Angels%20and%20Insects%20(1995)   |0      |0     |0        |0        |0        |0     |0    |0          |1    |0      |0       |0     |0      |0      |1      |0    |0       |0  |0      |
+-------+----------------------------------------------------+-----------+----------------+-------------------------------------------------------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import from_unixtime, col

df=df_data.join(df_user,'userId',how='inner').join(df_item,'movieId','inner').withColumn('datetime',from_unixtime(col("timestamp"))).drop('timestamp').withColumn('time',date_format(col("datetime"),"HH:mm:ss")).withColumn('date',to_date(col("datetime"))).drop('datetime')

In [12]:
df.show()

25/03/12 14:41:08 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------+------+---+------+-------------+-------+--------------------+-----------+----------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+--------+----------+
|movieId|userId|rating|age|gender|   occupation|zipCode|          movieTitle|releaseDate|videoReleaseDate|             imdbUrl|unknown|action|adventure|animation|childrens|comedy|crime|documentary|drama|fantasy|filmNoir|horror|musical|mystery|romance|sciFi|thriller|war|western|    time|      date|
+-------+------+------+---+------+-------------+-------+--------------------+-----------+----------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+--------+----------+
|    242|   196|   3.0| 49|     M|       writer|  55105|        Kolya (1996)|24-Jan-1997|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     1|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|15:55:49|1997-12-04|
|    302|   186|   3.0| 39|     F|    executive|  00000|L.A. Confidential...|01-Jan-1997|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    1|          0|    0|      0|       1|     0|      0|      1|      0|    0|       1|  0|      0|19:22:22|1998-04-04|
|    377|    22|   1.0| 25|     M|       writer|  40206| Heavyweights (1994)|01-Jan-1994|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        1|     1|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|07:18:36|1997-11-07|
|     51|   244|   2.0| 28|     M|   technician|  80525|Legends of the Fa...|01-Jan-1994|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          0|    1|      0|       0|     0|      0|      0|      1|    0|       0|  1|      1|05:02:03|1997-11-27|
|    346|   166|   1.0| 47|     M|     educator|  55113| Jackie Brown (1997)|01-Jan-1997|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    1|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|05:33:16|1998-02-02|
|    474|   298|   4.0| 44|     M|    executive|  01581|Dr. Strangelove o...|01-Jan-1963|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          0|    0|      0|       0|     0|      0|      0|      0|    1|       0|  1|      0|14:20:06|1998-01-07|
|    265|   115|   2.0| 31|     M|     engineer|  17110|Hunt for Red Octo...|01-Jan-1990|            NULL|http://us.imdb.co...|      0|     1|        0|        0|        0|     0|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       1|  0|      0|17:51:28|1997-12-03|
|    465|   253|   5.0| 26|     F|    librarian|  22903|Jungle Book, The ...|01-Jan-1994|            NULL|http://us.imdb.co...|      0|     0|        1|        0|        1|     0|    0|          0|    0|      0|       0|     0|      0|      0|      1|    0|       0|  0|      0|18:34:27|1998-04-03|
|    451|   305|   3.0| 23|     M|   programmer|  94086|       Grease (1978)|01-Jan-1978|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     1|    0|          0|    0|      0|       0|     0|      1|      0|      1|    0|       0|  0|      0|09:20:17|1998-02-01|
|     86|     6|   3.0| 42|     M|    executive|  98101|Remains of the Da...|01-Jan-1993|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|21:16:53|1997-12-31|
|    257|    62|   2.0| 27|     F|administrator|  97214| Men in Black (1997)|04-Jul-1997|            NULL|http://us.imdb.co...|      0|     1|        1|        0|        0|     1|    0|          0|    0|      0|       0|     0|      0|      0|      0|    1|       0|  0|      0|22:07:14|1997-11-12|
|   1014|   286|   5.0| 27|     M|      student|  15217|Romy and Michele'...|25-Apr-1997|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     1|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|15:38:45|1997-11-17|
|    222|   200|   5.0| 40|     M|   programmer|  93402|Star Trek: First ...|22-Nov-1996|            NULL|http://us.imdb.co...|      0|     1|        1|        0|        0|     0|    0|          0|    0|      0|       0|     0|      0|      0|      0|    1|       0|  0|      0|09:05:40|1997-10-05|
|     40|   210|   3.0| 39|     M|     engineer|  03060|To Wong Foo, Than...|01-Jan-1995|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     1|    0|          0|    0|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|21:59:54|1998-03-27|
|     29|   224|   3.0| 31|     F|     educator|  43512|Batman Forever (1...|01-Jan-1995|            NULL|http://us.imdb.co...|      0|     1|        1|        0|        0|     1|    1|          0|    0|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|23:40:57|1998-02-21|
|    785|   303|   3.0| 19|     M|      student|  14853|     Only You (1994)|01-Jan-1994|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     1|    0|          0|    0|      0|       0|     0|      0|      0|      1|    0|       0|  0|      0|05:28:38|1997-11-14|
|    387|   122|   5.0| 32|     F|       writer|  22206|Age of Innocence,...|01-Jan-1993|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          0|    1|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|17:47:39|1997-11-11|
|    274|   194|   2.0| 38|     M|administrator|  02154|      Sabrina (1995)|01-Jan-1995|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     1|    0|          0|    0|      0|       0|     0|      0|      0|      1|    0|       0|  0|      0|20:36:34|1997-11-14|
|   1042|   291|   4.0| 19|     M|      student|  44106|   Just Cause (1995)|01-Jan-1995|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          0|    0|      0|       0|     0|      0|      1|      0|    0|       1|  0|      0|09:42:24|1997-09-21|
|   1184|   234|   2.0| 60|     M|      retired|  94702|Endless Summer 2,...|01-Jan-1994|            NULL|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          1|    0|      0|       0|     0|      0|      0|      0|    0|       0|  0|      0|23:47:17|1998-04-08|
+-------+------+------+---+------+-------------+-------+--------------------+-----------+----------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+--------+------+-------+-------+-------+-----+--------+---+-------+--------+----------+
only showing top 20 rows

In [13]:
df_data=df_data.drop('timestamp')

In [14]:
df_data.show()

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|   196|    242|   3.0|
|   186|    302|   3.0|
|    22|    377|   1.0|
|   244|     51|   2.0|
|   166|    346|   1.0|
|   298|    474|   4.0|
|   115|    265|   2.0|
|   253|    465|   5.0|
|   305|    451|   3.0|
|     6|     86|   3.0|
|    62|    257|   2.0|
|   286|   1014|   5.0|
|   200|    222|   5.0|
|   210|     40|   3.0|
|   224|     29|   3.0|
|   303|    785|   3.0|
|   122|    387|   5.0|
|   194|    274|   2.0|
|   291|   1042|   4.0|
|   234|   1184|   2.0|
+------+-------+------+
only showing top 20 rows

In [15]:
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [16]:
df_data.show()

+------+-------+------+
|userId|movieId|rating|
+------+-------+------+
|   196|    242|   3.0|
|   186|    302|   3.0|
|    22|    377|   1.0|
|   244|     51|   2.0|
|   166|    346|   1.0|
|   298|    474|   4.0|
|   115|    265|   2.0|
|   253|    465|   5.0|
|   305|    451|   3.0|
|     6|     86|   3.0|
|    62|    257|   2.0|
|   286|   1014|   5.0|
|   200|    222|   5.0|
|   210|     40|   3.0|
|   224|     29|   3.0|
|   303|    785|   3.0|
|   122|    387|   5.0|
|   194|    274|   2.0|
|   291|   1042|   4.0|
|   234|   1184|   2.0|
+------+-------+------+
only showing top 20 rows

In [17]:
df_data_tarin,df_data_test=df_data.randomSplit([0.8,0.2])

In [18]:
df_data_tarin.count()

79899

In [19]:
df_data_test.count()

20101

In [20]:
df_data.count()

100000

In [21]:
als=ALS(maxIter=10,rank=4,regParam=0.1,userCol='userId',itemCol='movieId',ratingCol='rating')

In [22]:
model=als.fit(df_data_tarin)

In [23]:
predictions=model.transform(df_data_test)

In [24]:
predictions.show()

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|     1|      6|   5.0| 3.5571942|
|     1|     14|   5.0| 3.8853989|
|     1|     22|   4.0| 3.8085682|
|     1|     26|   3.0| 3.3011384|
|     1|     27|   2.0| 2.7762504|
|     1|     32|   5.0| 3.9521503|
|     1|     36|   2.0|  2.053674|
|     1|     46|   4.0| 3.6248262|
|     1|     47|   4.0| 3.9471827|
|     1|     55|   5.0| 3.8110852|
|     1|     64|   5.0|   4.32893|
|     1|     68|   4.0| 3.2708783|
|     1|     93|   5.0| 3.7443886|
|     1|     95|   4.0| 3.5746346|
|     1|    101|   2.0| 3.1710448|
|     1|    109|   5.0| 3.7101567|
|     1|    110|   1.0| 2.0539129|
|     1|    112|   1.0| 1.4567938|
|     1|    124|   5.0| 4.2176385|
|     1|    132|   4.0|  4.218403|
+------+-------+------+----------+
only showing top 20 rows

In [30]:
evaluator=RegressionEvaluator(metricName='rmse',predictionCol='prediction',labelCol='rating')

In [31]:
predictions=predictions.filter(col('prediction')!='nan')

In [32]:
rmse=evaluator.evaluate(predictions)

In [33]:
print(rmse)

0.9214316957753154

In [34]:
import datetime

In [41]:
print(datetime.datetime.now())

2025-03-12 15:02:16.738661

In [40]:
print(datetime.date.today())

2025-03-12

In [54]:
paramgrid=ParamGridBuilder().addGrid(als.regParam,[0.3,0.01,0.15]).addGrid(als.rank,range(2,8)).build()

In [55]:
crossval=CrossValidator(estimator=als,estimatorParamMaps=paramgrid,evaluator=evaluator,numFolds=5)

In [56]:
crossmodel=crossval.fit(df_data_tarin)

In [57]:
best_model=crossmodel.bestModel

In [58]:
predictions=best_model.transform(df_data_test)

In [59]:
predictions.show()

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|     1|      6|   5.0|  3.514723|
|     1|     14|   5.0| 3.7462046|
|     1|     22|   4.0| 3.8386703|
|     1|     26|   3.0| 3.2385054|
|     1|     27|   2.0| 2.8747475|
|     1|     32|   5.0| 3.6679192|
|     1|     36|   2.0| 2.1226118|
|     1|     46|   4.0|  3.575832|
|     1|     47|   4.0| 3.5412688|
|     1|     55|   5.0|  3.508664|
|     1|     64|   5.0|  4.153926|
|     1|     68|   4.0| 3.2577043|
|     1|     93|   5.0|  3.482214|
|     1|     95|   4.0|  3.569971|
|     1|    101|   2.0| 3.1833694|
|     1|    109|   5.0| 3.2610004|
|     1|    110|   1.0|  2.381308|
|     1|    112|   1.0| 2.0861187|
|     1|    124|   5.0| 3.8501463|
|     1|    132|   4.0| 3.8335185|
+------+-------+------+----------+
only showing top 20 rows

In [60]:
rmse=evaluator.evaluate(predictions.filter(col('prediction')!='nan'))

In [61]:
print(rmse)

0.9832154482043312

In [53]:
predictions.show()

+------+-------+------+----------+
|userId|movieId|rating|prediction|
+------+-------+------+----------+
|     1|      6|   5.0| 3.5571942|
|     1|     14|   5.0| 3.8853989|
|     1|     22|   4.0| 3.8085682|
|     1|     26|   3.0| 3.3011384|
|     1|     27|   2.0| 2.7762504|
|     1|     32|   5.0| 3.9521503|
|     1|     36|   2.0|  2.053674|
|     1|     46|   4.0| 3.6248262|
|     1|     47|   4.0| 3.9471827|
|     1|     55|   5.0| 3.8110852|
|     1|     64|   5.0|   4.32893|
|     1|     68|   4.0| 3.2708783|
|     1|     93|   5.0| 3.7443886|
|     1|     95|   4.0| 3.5746346|
|     1|    101|   2.0| 3.1710448|
|     1|    109|   5.0| 3.7101567|
|     1|    110|   1.0| 2.0539129|
|     1|    112|   1.0| 1.4567938|
|     1|    124|   5.0| 4.2176385|
|     1|    132|   4.0|  4.218403|
+------+-------+------+----------+
only showing top 20 rows